.hero-wrapper{
    background: linear-gradient(90deg, rgba(255,248,232,.5) 0%, rgba(252,251,250,.5) 54%, rgba(255,247,244,.5) 100%);

}


.hero{
    max-width: 1150px;
    width: 94%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.hero .content{
    max-width: 400px;
    width: 100%;
}
.hero .image img{
    max-width: 600px;
    width: 100%;
    max-height: 500px;
    max-width: 100%;
}