* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: #fee2f0; */
    margin: auto;
    /* background-color: #fff6fb; */
    /* background-color: #C92456; */
    background-color: #FFF7F4;


    margin-bottom: 40px;


}

.wrapperr {
    max-width: 1150px;
    width: 94%;
    display: flex;
    align-items: flex-start;
    padding: 50px 0;
    margin: auto;
    /* justify-content: space-between; */
}

.wrapperr .image img {
    max-width: 250px;
    width: 100% !important;
    max-height: 250px;
    height: 100% !important;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid white;
}



.content .location-name {
    font-size: 20px;
    margin-bottom: 8px;
    color: #000000;
    /* color: #1E1765; */
    font-weight: 400;
}

.content p {
    font-size: 15px;
    color: #767676;
    font-weight: 600;
    margin-bottom: 6px;

}


.content p span {
    margin-left: 6px;
    font-size: 14px;

}