/* .wraapper{
    background: linear-gradient(90deg, rgba(220,242,239,0.9323274842163428) 0%, rgba(252,251,250,1) 54%, rgba(255,247,244,1) 100%);
    padding: 2rem 0;
} */
.List-wrapper{
    max-width: 1150px;
    width: 94%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.parlour-rapper{
    text-decoration: none !important;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    /* border: 1px solid rgb(230, 230, 230); */
    /* max-width: 550px !important;
    width: 100% !important; */
    width: 550px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 40px;
    /* -webkit-box-shadow: 0px 0px 3px 1px rgba(191, 191, 191, 0.656);
-moz-box-shadow: 0px 0px 3px 1px rgba(191, 191, 191, 0.656);
box-shadow: 0px 0px 3px 1px rgba(255, 227, 251, 0.656); */
box-shadow: 0px 0px 3px 1px rgba(255, 208, 191,.2);
border-bottom: 4px solid transparent;
transition: .3s all;


}

.parlour-rapper:hover{
    /* -webkit-box-shadow: 0px 0px 27px 1px rgba(255,196,255,1);
    -moz-box-shadow: 0px 0px 27px 1px rgba(255,196,255,1);
    box-shadow: 0px 0px 27px 1px rgba(255,196,255,1); */
    /* -webkit-box-shadow: 0px 0px 27px 1px rgba(255,117,40,.5);
    -moz-box-shadow: 0px 0px 27px 1px rgba(255,117,40,.5); */
    box-shadow: 0px 0px 27px 1px rgb(255, 208, 191);
    transform: translateY(-2px);

    /* border-bottom: 4px solid #FF7528; */
    
    /* box-shadow: 0 25px 25px rgba(0,0,0,.15); */
    


}

.parlour-rapper .image img{
    width: 170px;
    height: 120px;
    border-radius: 8px;
    margin-right:20px ;
}

.List-wrapper .content h2{
    font-size: 18px;
    margin-bottom: 6px;
    text-decoration: none !important;
}

.List-wrapper .content p ,.List-wrapper .content p span{
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 6px;
    text-decoration: none !important;
}


@media screen and (max-width: 860px) {
    .List-wrapper{
        flex-direction: column;
    }


    .parlour-rapper{
        max-width: auto;
        width: 100% !important; 
        width: 550px;
        margin-bottom: 40px;
        
    }
    .parlour-rapper .image img{
        width: 120px;
        height: 90px;
        border-radius: 8px;
        margin-right:20px ;
    }
}

@media screen and (max-width: 1200px) {
   


    .parlour-rapper{
        max-width: auto;
        width: 100% !important; 
        width: 550px;
        margin-bottom: 40px;
        
    }
    .parlour-rapper .image img{
        width: 120px;
        height: 90px;
        border-radius: 8px;
        margin-right:20px ;
    }
}